package views

templ IndexPage(component templ.Component) {
    <html>
        <head>
            <link rel="stylesheet" href="/static/index.css" />
            <link rel="stylesheet" href="/static/tailwind.css" />
            <script src="https://unpkg.com/htmx.org@1.9.9"></script>
        </head>
        <body>
            @component
        </body>
    </html>
}